{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Products
{% endblock title %}

{% block content %}
   <h1>Список новостей и статей</h1>

    Количество новостей и статей: {{ posts|length }}

   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>

   <hr>
   {% if posts %}
       <table> <!-- Начинаем описывать таблицу -->
           <tr> <!-- Добавляем строку -->
               <td> <b>Автор</b> </td>
               <td> <b>Заголовок</b> </td>
               <td> <b>Дата</b> </td>
               <td> <b>Превью</b> </td>
           </tr> <!-- Не забываем закрыть HTML-тег строки -->

           {% for a in posts %}
            <tr>
                <td align="left">{{ a.author }}</td>
                <td align="left"><a href ="{%url 'post_details' a.id %}">{{ a.title|censor }}</a></td>
                <td align="left">{{ a.dateCreation|date:'d M Y'}}</td>
                <td align="left">{{ a.text|truncatewords:20|censor }}</td>
           </tr>
           {% endfor %}


       </table> <!-- ... и таблицы -->

   {% else %}
       <h2>Новостей нет!</h2>

   {% endif %}

    {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}

